Source: dummy
Section: misc
Priority: optional
Maintainer: Matthias Klumpp <mak@debian.org>
Build-Depends: debhelper-compat (= 13),
               appstream,
               meson
Standards-Version: 4.7.4

Package: dummy-all
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: A dummy arch:all package for testing purposes
 This package is the most minimal Debian package, for CI testing purposes.
 It does absolutely nothing useful.
